@model IEnumerable<Test1.Models.Notification>

<h2>Уведомления</h2>
<table class="table table-sm">
    <tr class="table-primary">
        <th>Преподаватель</th>
        <th>Дата и время</th>
        <th>Текст</th>
    </tr>
    @foreach (var item in Model.OrderByDescending(o => o.DateOfNote))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfNote)
            </td>
            <td>
                <p>@Html.Raw(item.NoteText)</p>
                @if (item.File1 != null)
                {
                    <p><a href="~/files/notification_files/@Html.DisplayFor(modelItem => item.File1)">@Html.DisplayFor(modelItem => item.File1)</a></p>
                }
                @if (item.File2 != null)
                {
                    <p><a href="~/files/notification_files/@Html.DisplayFor(modelItem => item.File2)">@Html.DisplayFor(modelItem => item.File2)</a></p>
                }
                @if (item.File3 != null)
                {
                    <p><a href="~/files/notification_files/@Html.DisplayFor(modelItem => item.File3)">@Html.DisplayFor(modelItem => item.File3)</a></p>
                }
                @if (item.File4 != null)
                {
                    <p><a href="~/files/notification_files/@Html.DisplayFor(modelItem => item.File4)">@Html.DisplayFor(modelItem => item.File4)</a></p>
                }
                @if (item.File5 != null)
                {
                    <p><a href="~/files/notification_files/@Html.DisplayFor(modelItem => item.File5)">@Html.DisplayFor(modelItem => item.File5)</a></p>
                }
            </td>
        </tr>
    }
</table>

